<h1>{{ title }}</h1>
<!-- <app-heroes></app-heroes>
--><!--
  Removes y agregamos el router ya que solo queremos que se visualice el componente heroes cuando el usuario navega al mismo.
-->
<nav>
  <a routerLink="/dashboard">Dashboard</a> <!--Para que se pueda navegar desde el dashboard a heroes y viceversa.-->
  <a routerLink="/heroes">Heroes</a>
</nav>
<!--
  Seteamos un routerlink a la dirección de ruteo del componente de heroes.
-->
<router-outlet></router-outlet
><!-- 5) The <router-outlet> tells the router where to display routed views. -->
<!-- Cargamos HeroesComponent -> HeroDetailComponent -->
<app-messages></app-messages>
<!-- Cargamos MessagesComponent -->
